.librrd-rail, .librrd-station rect, path {
    stroke-width: 1px;
    stroke: black;
    fill: none;
}

.librrd-station text {
    fill: black;
    stroke: none;
}

rect.librrd-group {
    fill: none;
    stroke: none;
}

.librrd-selected > rect.librrd-group {
    fill: hsl(0 0% 75% / 0.5);
    stroke: hsl(0 0% 50%);
    stroke-width: 2px;
    stroke-dasharray: 4 2;
}
